* {
    border: 1px solid red;
  }
  
header {
    display: flex;
    margin-block-end: 0;
    background-color: #B8D8EA;
    justify-content: space-evenly;
}

header h1 {

}

.main_button {
    width: 100px;   
    /* border: 0; */
    line-height: 2.5;
    /* padding: 0 20px; */
    font-size: 1rem;
    background-color: gray;
    border-radius: 10px;
    /* text-shadow: 1px 1px 1px #fff; */
}

.main_button:hover {
    background-color: rgb(102, 99, 99);
}

.main_button[selected="true"] {
    background-color: rgb(102, 99, 99);
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    
    /* justify-content: center; */

    /* display: flex; */
    /* justify-content: end; */
}

content-body {
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 1.5rem;
}

h2 {
    text-align: center;
}


a {
    margin  : 0;
}

.profile {
    display: flex;
    flex-direction: row;    
    margin: 100px;
}

.profile p {
    padding: 100px;
}
  